@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Regular.ttf) format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Bold.tff) format("truetype");
  font-weight: bolder;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

header {
  width: 100%;
  height: 96px;
  background-color: #1f2937;
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0 48px;
  position: fixed;
}

header h3 {
  font-size: 24px;
  color: #f9faf8;
}

ul {
  display: flex;
  gap: 32px;
  justify-content: center;
  align-items: center;
}

ul li {
  list-style: none;
  font-size: 18px;
  color: #e5e7eb;
}

.btn {
  padding: 12px 24px;
  background-color: #3882f6;
  border: none;
  border-radius: 10px;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  min-width: 130px;
  text-decoration: none;
  cursor: pointer;
}

.btn:hover {
  background-color: #0056b3;
}

.hero-section {
  background-color: #1f2937;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 32px 48px 32px;
  color: #fff;
  height: 60vh;
  margin-top: 10p;
  z-index: -1000;
}
.hero {
  width: 500px;
  min-width: 100px;
}
.hero p {
  font-size: 18px;
  color: #e5e7eb;
  margin-bottom: 24px;
}

h2 {
  margin-bottom: 20px;
}

.mission {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 30px 50px 30px;
  margin-top: 20vh;
}

.mis {
  width: 500px;
  min-width: 100px;
}

.call-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 96px 20%;
  gap: 64px;
  background-color: #1f2937;
  color: #e5e7eb;
  padding: 32px 96px;
  border-radius: 10px;
  flex-wrap: wrap;
}

footer {
  color: #e5e7eb;
  position: static;
  height: 5vh;
  background-color: #1f2937;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 900px) {
  h1 {
    text-align: center;
  }

  .header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.2rem;
    height: 30vh;
    position: inherit;
    /* margin-bottom: 6.2rem; */
  }

  .navbar {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
  }

  .nav-item {
    margin-top: 15px;
  }

  .hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.4rem;
  }

  .hero-section {
    padding: 0 0;
  }

  .about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}