* {
    /* border: 1px solid red; */
}

/* Resetting default margin and padding for better alignment */
header,
nav,
ul {
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
}

nav {
    /* border: 1px solid blue; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

/* Style the logo */
.logo {
    /* Set a maximum height for the logo */
    max-height: 50px;
    background-color: red;
}

ul {
    list-style: none;
    display: flex;
}

li {
    margin-right: 20px;
    font-size: 16px;
}

li:hover {
    text-decoration: underline;
    color: #3882F6;
}


/* Form */

body {
    /* Center vertically */
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* Vertically align content with space between header, main, and footer */
    min-height: 100vh;
}

main {
    flex: 0;
    flex-direction: row;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.9);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.container {
    /* Center the container contents */
    display: flex;
    flex-direction: column;
    align-items: inherit;
}

form {
    display: flex;
    flex-direction: column;
}


label {
    font-size: medium;
    margin-bottom: 8px;
}

input {
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 12px;
    background-color: #3882F6;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
}

button:hover {
    background-color: #0056b3;
}

/* Footer styles */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

.footer-content {
    max-width: 960px;
    margin: 0 auto;
}

/* Style the copyright text */
footer p {
    font-size: 14px;
    margin: 0;
}

/* Style the copyright symbol */
footer p::before {
    content: "\00a9";
    /* Unicode for copyright symbol */
    margin-right: 5px;
}