
body {
    /* Center vertically */
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;

}

main {
    flex: 0;
    flex-direction: row;
    max-width: 500px;
    min-width: 300px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.9);
    margin: auto;
    display: flex;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: black;
}

.container {
    /* Center the container contents */
    display: flex;
    flex-direction: column;
    align-items: inherit;
    width: 100%;
}

form {
    display: flex;
    flex-direction: column;
    width: 400px;
}


label {
    font-size: medium;
    margin-bottom: 8px;
}

input {
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 12px;
    background-color: #3882F6;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
}

button:hover {
    background-color: #0056b3;
}

/* Media query for screens smaller than 600px */
@media (max-width: 500px) {
  form {
    width: auto;
    min-width: auto;

  }
}