@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Regular.ttf) format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Bold.ttf) format("truetype");
  font-weight: bolder;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

.header,
.hero-section,
footer {
  background-color: #1f2937;
}

.header {
  width: 100%;
  height: 4.6rem;
  color: #e5e7eb;
  padding: 0 4.8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  /* margin-bottom: 9.6rem; */
  z-index: 9999;
}

.navbar li {
  list-style: none;
}

.navbar {
  display: flex;
  align-items: center;
}

.navbar-link:link,
.navbar-link:visited {
  text-decoration: none;
  color: #e5e7eb;
  cursor: pointer;
}

.nav-item {
  width: 100%;
  min-width: 130px;
}


h1 {
  font-size: 48px;
  text-transform: uppercase;
  letter-spacing: -0.1rem;
  font-family: "Roboto";
  font-weight: bolder;
  color: #f9faf8;
  margin-bottom: 32px;
}

.hero-section {
  display: flex;
  justify-content: center;
  padding: 4.8rem 0 9.6rem 0;
}

.hero {
  max-width: 80rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 3.2rem;
  gap: 9.6rem;
  margin-top: 9.6rem;
}

.hero-image-div {
  flex: 1;
}

.hero-text-box {
  flex: 300px;
}

.hero-text-box p {
  color: #e5e7eb;
  margin-bottom: 1.2rem;
}

.hero-image {
  width: 100%;
}

.btn-link:link,
.btn-link:visited {
  text-decoration: none;
  color: #e5e7eb;
  cursor: pointer;
}

.btn {
  padding: 12px 24px;
  background-color: #3882f6;
  border: none;
  border-radius: 10px;
  color: #e5e7eb;
  font-size: 18px;
  font-weight: bold;
  min-width: 130px;
  text-decoration: none;
}

.btn:hover {
  background-color: #204d96;
}


.about-section {
  padding: 4.8rem 4.8rem 9.6rem 4.8rem;
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3.2rem;
}

.about-head {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 3.6rem;
  color: #868e96;
}

.icon {
  stroke: #3882f6;
  height: 2.4rem;
  margin-bottom: 1.4rem;
}

.about p {
  color: #868e96;
  line-height: 1.7;
}

.inspiration-section {
  max-width: 80rem;
  padding: 3.4rem;
  background-color: #e9ecef;
  margin: auto;
  margin-bottom: 9.6rem;
}

.insp-div {
  margin: 0 4.8rem;
  position: relative;
}

.inspiration {
  color: #adb5bd;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.3;
  padding: 0.8rem 1.2rem;
}

.author {
  position: absolute;
  font-size: 24px;
  font-weight: bold;
  bottom: -0.5rem;
  right: 4.8rem;
  z-index: 900;
}

.call-section {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #3882f6;
  color: #e5e7eb;
  border-radius: 10px;
  padding: 3.2rem 4.8rem;
  margin: auto;
  width: 80%;
}

.action-btn {
  box-shadow: 3px 3px 9px rgba(0, 0, 0, 0.9);
}

.action-btn:hover {
  zoom: 1.05;
  /* border: none; */
}

footer {
  color: #e5e7eb;
  position: static;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4.8rem;
}

@media (max-width: 900px) {
  h1 {
    text-align: center;
  }

  .header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.2rem;
    height: 30vh;
    position: inherit;
    /* margin-bottom: 6.2rem; */
  }

  .navbar {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
  }

  .nav-item {
    margin-top: 15px;
  }

  .hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.4rem;
  }

  .hero-section {
    padding: 0 0;
  }

  .about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .about-section {
    padding: 24px;
  }

  .inspiration-section {
    margin-top: 0;
    max-width: 100%;
    padding: 24px 0;
    margin: 1.2rem 0;
  }

  .insp-div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 12px 8px;
  }

  .inspiration {
    font-size: 1rem;
    display: inline-block;
    line-height: 1;
    /* padding: 8px 12px; */
    text-align: center;
  }

  .author {
    display: inline-block;
    text-align: center;
    font-size: 12px;
  }

  .call-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 12px 0;
    gap: 2.4rem;
    padding: 24px 12px;
  }
}