<<<<<<< HEAD
@font-face {
    font-family: 'Roboto';
    src: url(/fonts/Roboto-Regular.ttf);
    font-weight: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url(/fonts/Roboto-Medium.ttf);
    font-weight: medium;
}

@font-face {
    font-family: 'Roboto';
    src: url(/fonts/Roboto-Medium.ttf);
    font-weight: bold;
    
}




body {
    font-family: "Roboto", sans-serif;
    font-size: 4em;
}
=======
/* Universal settings */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'Roboto', sans-serif, Arial, Helvetica, sans-serif;
  src: url(/fonts/Roboto-Regular.ttf);
}

body {
  font-family: 'Roboto', sans-serif, Arial, Helvetica, sans-serif;
  font-size: 2em;
}

>>>>>>> c64153add5ea5fd515d6b09b76897415112ff682
