/* Universal settings */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

@font-face {
  font-family: 'Roboto', sans-serif, Arial, Helvetica, sans-serif;
  src: url(/fonts/Roboto-Regular.ttf);
}

body {
  font-family: 'Roboto', sans-serif, Arial, Helvetica, sans-serif;
  font-size: 4em;
}

